
	15052020041152.mp3
	15052020041211.mp3
	FacialRecognitionProject/Cascades/
	FacialRecognitionProject/__pycache__/face_dataset.cpython-36.pyc
	FacialRecognitionProject/__pycache__/face_dataset.cpython-38.pyc
	FacialRecognitionProject/__pycache__/face_recognition.cpython-36.pyc
	FacialRecognitionProject/__pycache__/face_recognition.cpython-38.pyc
	FacialRecognitionProject/__pycache__/face_training.cpython-36.pyc
	FacialRecognitionProject/__pycache__/face_training.cpython-38.pyc
	FacialRecognitionProject/__pycache__/rrrr.cpython-38.pyc
	FirstDetectionFoto/__pycache__/
	FirstDetectionFoto/images/
	FirstDetectionFoto/output/
	FirstDetectionFoto/yolo-coco/
	__pycache__/
	face_id/__pycache__/cam.cpython-36.pyc
	face_id/__pycache__/cam_registartion.cpython-36.pyc
	face_id/__pycache__/cam_registartion.cpython-38.pyc
	face_id/__pycache__/face_detector.cpython-36.pyc
	face_id/__pycache__/face_detector.cpython-38.pyc
	image/flugo1.png
	image/foto_plagin.png
	image/mic.png
	image/voice assisted head.jpg
	image/voise_as.jpg
	object_ecognition/new_objects.jpg
	object_ecognition/resnet50_coco_best_v2.0.1.h5
	video_obcject/__pycache__/
	video_obcject/output/
	video_obcject/videos/
	video_obcject/yolo-coco/
	voice_assistant/__pycache__/speech_ai.cpython-36.pyc
	voice_assistant/__pycache__/speech_ai.cpython-38.pyc

